IDNA & Punycode

some spec 👀 

| RFC   | When | Status | Description |
| :---    | :---     | :---      | :---              |
| [3490](https://datatracker.ietf.org/doc/html/rfc3490) | 2003  | Obsolete ([RFC 5891](https://datatracker.ietf.org/doc/html/rfc5891), [RFC 5890](https://datatracker.ietf.org/doc/html/rfc5890)) | Internationalizing Domain Names in Applications (IDNA) |
| [3491](https://datatracker.ietf.org/doc/html/rfc3491) | 2003 | Obsoleted by [RFC 5891](https://datatracker.ietf.org/doc/html/rfc5891) | Nameprep: A Stringprep Profile for IDN |
| [3492](https://datatracker.ietf.org/doc/html/rfc3492) | 2003 | Updated ([RFC 5891](https://datatracker.ietf.org/doc/html/rfc5891)) | Punycode: A Bootstring encoding of Unicode for IDNA |
| [5890](https://datatracker.ietf.org/doc/html/rfc5890) | 2010 | Proposed | IDNA: Definitions and Document Framework |
| [5891](https://datatracker.ietf.org/doc/html/rfc5891) | 2010 | Proposed | IDNA : Protocol |
| [5892](https://datatracker.ietf.org/doc/html/rfc5892) | 2010 | Proposed, Updated [RFC 8753](https://datatracker.ietf.org/doc/html/rfc8753) | The Unicode Code Points and IDNA |
| [5893](https://datatracker.ietf.org/doc/html/rfc5893) | 2010 | Proposed | Right-to-Left Scripts for IDNA |
| [8753](https://datatracker.ietf.org/doc/html/rfc8753) | 2020 | Proposed | IDNA: Review for New Unicode Versions |

Other crates: [idna](https://crates.io/crates/idna) (Updated 4 months ago)